@import "./variable.scss";

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  border: none;
  box-sizing: border-box;
}
a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

svg {
  background-color: transparent;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $rwd-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $rwd-medium) {
    font-size: 45%;
  }

  @media only screen and (max-width: $rwd-small) {
    font-size: 40%;
  }

  @media only screen and (max-width: $rwd-smallest) {
    font-size: 30%;
  }
}

body {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  overflow-y: hidden;
}

.img--hidden {
  display: none;
}

.index {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: all 1.5s;
  background-image: url("../img/HomeBG-2560px.png");
  background-size: cover;
  background-position: bottom;

  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;

    &--logo {
      width: 21.6rem;
      height: 6.4rem;
      margin: 11.1rem 0 4.76rem 0;
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 4rem;
      line-height: 5.8rem;
      font-style: normal;
    }

    &--arrowD {
      width: 8rem;
      height: 8rem;
      margin-top: 0.7rem;
      margin-bottom: 48.4rem;

      animation: pulse-down 0.8s infinite ease-in;
    }
  }

  &__bikes {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &--1 {
      height: 5.28rem;
      animation: moveToRight 25s ease-out;
    }
    &--2 {
      animation: moveToLeft 25s ease;
    }
    &--3 {
      animation: moveToLeft 25s ease-in;
    }
    &--4 {
      animation: moveToLeft 20s ease-out;
    }
  }

  &--hidden {
    height: 0;
    & > * {
      display: none;
    }
  }
}
