$color__main: #00a8c0;
$color__main--light80: #00a8c0cc;
$color__main--light60: #00a8c099;
$color__main--light10: #00a8c01a;
$color__main--dark10: #009bb1;

$color__2nd: #d9ef08;
$color__2nd--light80: #d9ef08cc;
$color__2nd--light60: #d9ef0899;
$color__2nd--light20: #d9ef0833;
$color__2nd--dark20: #c8dc07;

$color--wite: #ffffff;

$rwd-largest: 1500px;
$rwd-large: 1200px;
$rwd-medium: 900px;
$rwd-small: 600px;
$rwd-smallest: 420px;

@keyframes moveToRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(2000%);
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-2000%);
  }
}

@keyframes pulse-down {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}
