@import "../../../../sass/variable.scss";

.mainPage__main {
  &--restaurant {
    position: absolute;
    top: 25rem;
    right: 0%;
    z-index: 1000;
    transition: all 0.5s;
    overflow: hidden;
  }

  &--restaurant-icons {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10000;
    top: 18rem;
    right: 0%;

    @media only screen and (max-width: $rwd-medium) {
      top: 35rem;
    }

    @media only screen and (max-width: $rwd-smallest) {
      top: 58rem;
    }
  }

  &--restaurant-list {
    width: 23rem;
    transition: all 0.5s;
    height: 100rem;
    user-select: none;
    @media only screen and (max-width: $rwd-medium) {
      transform: translateY(16%);
    }

    @media only screen and (max-width: $rwd-smallest) {
      transform: translateY(40%);
    }
  }
}

.restaurant--hidden {
  height: 0;
  overflow: hidden;
}
