.mainPage__main {
  &--restaurant {
    position: absolute;
    top: 25rem;
    right: 0%;
    z-index: 10000;
    transition: all 0.5s;
    overflow: hidden;
  }

  &--restaurant-icons {
    position: absolute;
    display: flex;
    z-index: 10000;
    top: 18rem;
    right: 0%;
  }

  &--restaurant-list {
    transition: all 0.5s;
    height: 100rem;
    user-select: none;
  }
}

.restaurant--hidden {
  height: 0rem;
}
