@import "../../sass/variable.scss";

.searchBar {
  margin: 0 auto;

  // @media only screen and (max-width: $rwd-medium) {
  //   width: 80rem;
  // }

  // @media only screen and (max-width: $rwd-small) {
  //   width: 50rem;
  //   height: auto;
  // }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;

    // @media only screen and (max-width: $rwd-small) {
    //   padding: 3rem 5rem;
    // }

    button {
      // margin-left: auto;
      // margin-right: 1.7rem;

      // @media only screen and (max-width: $rwd-small) {
      //   margin: 0;
      //   margin-bottom: 1rem;
      // }
    }
  }
}
